.input {
    width: 200px;
    margin-top: 10px;
}

.btn {
    min-width: 100px;
    margin: 10px 10px 0 0;
}

.select {
    width: 200px;
}

.chooseTemplate.hide {
    display: none;
}

.content {
    display: flex;
    flex-direction: row;
}

.label-design {
    margin: 24px 0 0 24px;
}

.example-box {
    color: rgba(0, 0, 0, 0.87);
    border: dotted 1px;
    cursor: move;
    display: inline-flex;
    line-height: 0.7;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
}

.example-boundary {
    border: solid 1px;
    margin-top: 24px;
}

.labelDetail {
    margin: 24px 0 0 24px;
}

.modifyLabel {
    margin-top: 10px;
    width: 200px;
}

.labelForm {
    min-width: 150px;
    margin: 0 8px 8px 8px;
}

.labelName {
    display: flex;
    flex-direction: column;
}

.selectSize {
    width: 100%;
}

.form-row {
    display: flex;
}

.icon {
    margin-left: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}