.input {
    width: 200px;
    margin-top: 10px;
}

.btn {
    min-width: 100px;
}

.select {
    width: 200px;
}

.chooseTemplate.hide {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
}

.nameCol {
    color: rgba(0, 0, 0, 0.85);
}

.btn-delete {
    color: red;
    cursor: pointer;
    font-size: 16px;
}

.add {
    display: flex;
    flex-direction: row-reverse;
    padding: 24px;
}

.tableTemplate {
    padding: 0 24px;
}